.mainConatiner {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: aquamarine;
}

h1:hover {
    color: black;
}

h1:active {
    color: brown;
}

body {
    background-color: "#06031c";
}